version: '3.5'
services:
  zerotier:
    build:
      context: .
      dockerfile: ./Dockerfile
    image: zerotier
    container_name: zerotier_one
    devices:
      - /dev/net/tun
    cap_add:
      - NET_ADMIN
      - SYS_ADMIN
    volumes:
      - /var/lib/zerotier-one/networks.d/NETWORK_ID.conf:/var/lib/zerotier-one/networks.d/NETWORK_ID.conf
    restart: always
    network_mode: host
